<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.teamhavei.havei">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.HaveI"
        android:usesCleartextTraffic="true">

        <service
            android:name=".services.HaveITimeWatcher"
            android:exported="false" />

        <activity
            android:name=".activities.ActivitySettingsProverbSrc"
            android:exported="true" />
        <activity
            android:name=".activities.ActivityReport"
            android:exported="true" />
        <activity
            android:name=".activities.ActivityModifyTag"
            android:exported="true" />
        <activity
            android:name=".activities.ActivitySettings"
            android:exported="true" />
        <activity
            android:name=".activities.ActivitySettingsTagMng"
            android:exported="true" />
        <activity
            android:name=".activities.ActivityHabitMain"
            android:exported="true" />
        <activity
            android:name=".activities.ActivityTodoDetail"
            android:exported="true" />
        <activity android:name=".activities.ActivityModifyTodo" />
        <activity android:name=".activities.ActivityMainEvent" />
        <activity android:name=".activities.ActivityProverbList" />
        <activity android:name=".activities.ActivityTodoTimetable" />
        <activity android:name=".activities.ActivityHelp" />
        <activity android:name=".activities.ActivityHabitDetail" />
        <activity android:name=".activities.ActivityModifyHabit" />

        <activity android:name=".activities.ActivityBookkeep" />
        <activity
            android:name=".activities.ActivityBookkeepAdd"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activities.ActivityBookkeepStatisticMonthly"/>
        <activity android:name=".activities.ActivityBudget"/>
        <activity
            android:name=".activities.ActivityBookkeepPropertyView"
            android:label="@string/bookkeep_property_view"
            android:parentActivityName=".activities.ActivityBookkeep" />
        <activity
            android:name=".activities.ActivityBookkeepAddWallet"
            android:label="@string/bookkeep_add_wallet"
            android:parentActivityName=".activities.ActivityBookkeepPropertyView" />
        <activity
            android:name=".activities.ActivityBookkeepAnnualAccountDetail"
            android:label="@string/bookkeep_annual_account"
            android:parentActivityName=".activities.ActivityBookkeep" />
        <activity android:name=".activities.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.teamhavei.havei.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>