<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.teamhavei.havei">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/havei_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/havei_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.HaveI"
        android:usesCleartextTraffic="true">
        <receiver
            android:name=".UI.widget.WidgetBookkeepOverview"
            android:exported="true"
            android:label="@string/widget_bookkeep_overview_description">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.teamhavei.havei.action.WIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_bookkeep_overview_info" />
        </receiver>

        <service
            android:name=".service.HaveITimeWatcher"
            android:exported="false" />

        <activity
            android:name=".UI.activity.ActivityMain"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".UI.activity.ActivityAbout" />
        <activity android:name=".UI.activity.ActivityLongTermAnalyze" />
        <activity android:name=".UI.activity.ActivityHabitMain" />
        <activity android:name=".UI.activity.ActivitySettingsProverbSrc" />
        <activity android:name=".UI.activity.ActivityReport" />
        <activity android:name=".UI.activity.ActivityModifyTag" />
        <activity android:name=".UI.activity.ActivitySettings" />
        <activity android:name=".UI.activity.ActivitySettingsTagMng" />
        <activity android:name=".UI.activity.ActivityTodoDetail" />
        <activity android:name=".UI.activity.ActivityModifyTodo" />
        <activity android:name=".UI.activity.ActivityMainEvent" />
        <activity android:name=".UI.activity.ActivityProverbList" />
        <activity android:name=".UI.activity.ActivityTodoTimetable" />
        <activity android:name=".UI.activity.ActivityHelp" />
        <activity android:name=".UI.activity.ActivityHabitDetail" />
        <activity android:name=".UI.activity.ActivityModifyHabit" />
        <activity android:name=".UI.activity.ActivityBookkeep" />
        <activity
            android:name=".UI.activity.ActivityBookkeepAdd"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".UI.activity.ActivityBookkeepStatisticMonthly" />
        <activity android:name=".UI.activity.ActivityBudget" />
        <activity
            android:name=".UI.activity.ActivityBookkeepProperty"
            android:parentActivityName=".UI.activity.ActivityBookkeep" />
        <activity
            android:name=".UI.activity.ActivityBookkeepStatisticAnnually"
            android:parentActivityName=".UI.activity.ActivityBookkeep" />
        <activity
            android:name=".UI.activity.ActivityModifyAccount"
            android:exported="true" />
        <activity
            android:name=".UI.activity.ActivitySettingsAccount"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.teamhavei.havei.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>