<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.teamhavei.havei">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/havei_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/havei_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.HaveI"
        android:usesCleartextTraffic="true">
        <receiver
            android:name=".widgets.WidgetBookkeepOverview"
            android:exported="true"
            android:label="@string/widget_bookkeep_overview_description">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.teamhavei.havei.action.WIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_bookkeep_overview_info" />
        </receiver>

        <service
            android:name=".services.HaveITimeWatcher"
            android:exported="false" />

        <activity
            android:name=".activities.ActivityMain"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity android:name=".activities.ActivityLongTermAnalyze" />
        <activity android:name=".activities.ActivityHabitMain" />
        <activity android:name=".activities.ActivitySettingsProverbSrc" />
        <activity android:name=".activities.ActivityReport" />
        <activity android:name=".activities.ActivityModifyTag" />
        <activity android:name=".activities.ActivitySettings" />
        <activity android:name=".activities.ActivitySettingsTagMng" />
        <activity android:name=".activities.ActivityTodoDetail" />
        <activity android:name=".activities.ActivityModifyTodo" />
        <activity android:name=".activities.ActivityMainEvent" />
        <activity android:name=".activities.ActivityProverbList" />
        <activity android:name=".activities.ActivityTodoTimetable" />
        <activity android:name=".activities.ActivityHelp" />
        <activity android:name=".activities.ActivityHabitDetail" />
        <activity android:name=".activities.ActivityModifyHabit" />
        <activity android:name=".activities.ActivityBookkeep" />
        <activity
            android:name=".activities.ActivityBookkeepAdd"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.ActivityBookkeepStatisticMonthly" />
        <activity android:name=".activities.ActivityBudget" />
        <activity
            android:name=".activities.ActivityBookkeepProperty"
            android:parentActivityName=".activities.ActivityBookkeep" />
        <activity
            android:name=".activities.ActivityBookkeepStatisticAnnually"
            android:parentActivityName=".activities.ActivityBookkeep" />
        <activity
            android:name=".activities.ActivityModifyAccount"
            android:exported="true" />
        <activity
            android:name=".activities.ActivitySettingsAccount"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.teamhavei.havei.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>